@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

.logo {
  height: 5em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #b6aa06aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #cfbc09aa);
}

.logoElis {
  height: 2em;
  padding: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}


.anexa {
  position: absolute;
  left: 0;
  top: 1rem; /* adjust vertical position */
  width: auto;
  padding: 1em;
}

.anexa p{
  text-align: left
}
